/*=====================
 golbal
 ======================*/
body{
  padding-bottom:40px;
  color:#5a5a5a;
}

/*=====================
 navbar
 ======================*/
.navbar-wrapper{
  position:absolute;
  top:0;
  right:0;
  left:0;
  z-index:20;
}
.navbar-wrapper > .container{
  padding-right:0;
  padding-left:0;
}
.navbar-wrapper .navbar{
  padding-right:15px;
  padding-left:15px;
}
.navbar-wrapper .navbar .container{
  width:auto;
}
.navbar-wrapper .navbar .container .navbar-brand
{
  padding:0;
  position:relative;
}
.navbar-wrapper .navbar .container .navbar-brand img{
  position:absolute;
  margin:auto;
  right:0;
  left:0;
  top:0;
  bottom:0;
}
#navbar{
  margin-left:36px;
}
#navbar .navbar-right a{
  padding:3px 20px 2px 15px;
}
#navbar .navbar-right a img{
  border-radius:50%;
}

/*=====================
 carousel
 ======================*/
.carousel{
  width:100%;
  height:500px;
  margin-bottom:30px;
}
.carousel-caption{
  z-index:10;
}
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position:absolute;
  top:0;
  left:0;
  min-width:100%;
  height:500px;
}

/*=====================
 skills
 ======================*/
.skills-heading h2{
  color:#5AB590;
  font-weight:normal;
  margin:0 0 15px 0;
  padding-bottom:5px;
  border-bottom:5px solid;
}

.skills .col-lg-4{
  margin-bottom:20px;
  text-align:center;
}
.skills h2{
  font-weight:normal;
}
.skills .col-lg-4 .descrip{
  margin-right:10px;
  margin-left:10px;
}
.skills img{
  border-radius:50%;
  border:1px solid #ccc;
  padding:3px;
  -webkit-box-shadow:2px 1px 4px #ccc;
          box-shadow:2px 1px 4px #ccc;
}
.img-size{
  width:148px;
  height:148px;
}
#skills div.descrip{
  height:150px;
}
#skills div.descrip p{
  margin-bottom:5px;
}
#skills div.row div.skills-wrapper{
  border:2px solid #5AB590;
  border-radius:10px;
  padding:10px 15px;
}

/*=====================
 project-divider
 ======================*/
.project-divider{
  margin:30px 0;
  border-bottom:1px solid #5AB590;
}

/*=====================
 projects
 ======================*/
.project-heading{
  font-weight:300;
  line-height:1;
  letter-spacing:-1px;
}
.lead{
  margin:30px 0 20px 0;
  padding:5px;
}

/*=====================
 responsive css
 ======================*/
@media (min-width:768px){
  .carousel,
  .carousel .item{
    height:420px;
  }
  .carousel-inner > .item > img{
    height:420px;
  }
  .navbar-wrapper{
    margin-top:20px;
  }
  .navbar-wrapper .container{
    padding-right:15px;
    padding-left:15px;
  }
  .navbar-wrapper .navbar{
    padding-right:0;
    padding-left:0;
  }
  .navbar-wrapper .navbar{
    border-radius:4px;
  }

  .carousel-caption p{
    margin-bottom:20px;
    font-size:21px;
    line-height:1.4;
  }
  .project-heading{
    font-size:32px;
  }
  .lead{
    border-radius:1em 4em 1em 4em / 2em 1em 2em 1em;
    border-right:20px solid #5AB590;
    border-bottom:10px solid #5AB590;
  }

}
@media(min-width:992px){
  .carousel,
  .carousel .item{
    height:500px;
  }
  .carousel-inner > .item > img{
    height:500px;
  }
  .project-heading{
    margin-top:50px;
    margin-bottom:20px;
  }
  .lead p{
    font-size:18px;
  }
  .carousel-caption h1{
    margin:50px 0 30px 0;
  }
  .carousel-caption p{
    margin-bottom:30px;
  }
}
@media (min-width:481px) and (max-width:767px){
  .carousel,
  .carousel .item{
    height:350px;
  }
  .carousel-inner > .item > img{
    height:350px;
  }
  .lead{
    border-radius:1em 4em 1em 4em / 2em 1em 2em 1em;
    border-right:15px solid #5AB590;
    border-bottom:7px solid #5AB590;
  }
}
@media (max-width:480px){
  .project-divider{
    margin:10px 0;
  }
  .carousel,
  .carousel .item{
    height:250px;
  }
  .carousel-inner > .item > img{
    height:250px;
  }
  .carousel-caption h1{
    font-size:14px;
  }
  .carousel-caption p{
    font-size:10px;
  }
  .carousel-caption p a{
    font-size:10px;
    padding:5px 8px;
  }
  .lead{
    border-radius:1em 4em 1em 4em / 2em 1em 2em 1em;
    border-right:10px solid #5AB590;
    border-bottom:5px solid #5AB590;
  }
}

/*=====================
 btn按钮滑动特效
 ======================*/
.bg-btn{
  position:relative;
  /*transition:color 0.4s ease-out;*/
  transform:translateZ(0);
  background:#fff;
}
.bg-btn:hover{
  color:#fff;
  background-color:#fff !important;
}
.bg-btn:before{
  content:"";
  position:absolute;
  top:-1px;
  bottom:-1px;
  left:-1px;
  right:-1px;
  z-index:-1;
  border:1px solid #B1DFD5;
  background-color:#5AB590;
  border-radius:4px;
  transform:scaleX(0);
  transform-origin:50%;
  transition:transform 0.3s ease-out;
}
.bg-btn:hover:before{

  transform:scaleX(1);
}
