/*==================
  Globals
  ===================*/

 /*Links*/
 h1{
  margin:0;
  padding:0;
 }

 /*Custom default button*/
 .btn-default,
 .btn-default:hover,
 .btn-default:focus{
  color:#333;
  text-shadow:none;
  background-color:#fff;
  border:1px solid #fff;
 }

/*==================
  Base structure
  ===================*/
html,
body{
  height:100%;
  background-color:#333;
  overflow:hidden;
}
body{
  color:#fff;
  text-align:center;
  text-shadow:0 1px 3px rgba(0,0,0,.5);
}

/*==================
  site-wrapper
  ===================*/

.site-wrapper{
  display:table;
  width:100%;
  height:100%;
  min-height:100%;
  -webkit-box-shadow:inset 0 0 100px rgba(0,0,0,.5);
          box-shadow:inset 0 0 100px rgba(0,0,0,.5);
  background:url("../img/index-logo.jpg") no-repeat center center;
  background-size:cover;
}
.site-wrapper-inner{
  display:table-cell;
  vertical-align:middle;
}
.cover-container{
  width:50%;
  margin-right:auto;
  margin-left:auto;
  -webkit-animation:shake  .5s 1s;
  animation:shake  .5s 1s;

}

/*==================
  定义帧动画
  ===================*/
@-webkit-keyframes shake{
  0%{
    transform:rotateZ(-180deg);
  }

  100%{
    transform:rotateZ(0deg);
  }
}

/*==================
  Cover
  ===================*/
.cover{
  padding:30px 20px;
  color:#fff;
  -webkit-border-radius:10px;
          border-radius:10px;
}
.para1{
  padding:10px 0;
}

/*==================
  Animate init & done
  ===================*/

.cover-container{
  transition:all 1s;
}
.cover-heading,
.para1{
  transition:all 1s 2s;
}
.cover{
  transition:all 2s 3s;
}
.para2{
  transition:all 1s 4s;
}
.para2-animate-init{
  transform:scale(0);
}
.para2-animate-done{
  transform:scale(1);
}
.cover-container-animate-init{
  transform:translate(100%,0);
  opacity:0;

}
.cover-container-animate-done{
  transform:translate(0,0);
  opacity:1;
}
.cover-animate-init{
  background-color:rgba(0,0,0,1);
}
.cover-animate-done{
  background-color:rgba(0,0,0,0.4);
}
.cover-heading-animate-init{
  transform:translate(0,100%);
  opacity:0;
}
.para1-animate-init{
  transform:translate(0,-100%);
  opacity:0;
}
.cover-heading-animate-done,
.para1-animate-done{
  transform:translate(0,0);
  opacity:1;
}




