/*通用设置*/
body{
	font-family:"微软雅黑";
}
.common{
	width:1200px;
	margin:0 auto;
}
ul{
	list-style:none;
}
div.hr_10{
	margin-top:10px;
}
.clr{
	height:0;
	clear:both;
}
a{
	text-decoration:none;
	color:#444D56;
}
/*header*/
div.main{
	width:100%;
	width:expression(document.body.clientWidth<=1300?"1300px":"auto");
	min-width:1300px;

}
header{
	width:100%;
	height:100px;
	background-color:#24292E;   
}
div.container h3{
	height:100px;
	float:left;
	font-family:"微软雅黑";
	font-size:40px;
	line-height:100px;
	font-weight:400;
	color:#C8C9CA;
}
div.container h3:hover{
	color:#fff;
}
div.container nav{
	float:right;
	height:100px;
	line-height:100px;
}
div.container nav a{
	display:block;
	float:left;
	color:#fff;
	width:auto;
	padding:0 35px;
	font-size:24px;
}
div.container nav a:hover{
	color:#E34C26;
	border-radius:50%;
	box-shadow:0 0 0 2px rgba(255,255,255,0.3) inset;
	background-color:#fff;
	-webkit-animation:mymove 1s;
	   -moz-animation:mymove 1s;
	     -o-animation:mymove 1s;
	        animation:mymove 1s;
}
@-webkit-keyframes mymove{
	from{border-radius:0%;}
	to{border-radius:50%;}
}
@-moz-keyframes mymove{
	from{border-radius:0%;}
	to{border-radius:50%;}
}
@-o-keyframes mymove{
	from{border-radius:0%;}
	to{border-radius:50%;}
}
@keyframes mymove{
	from{border-radius:0%;}
	to{border-radius:50%;}
}

/*section*/
/*aside*/
section aside{
	font-family:"微软雅黑";
	font-size:24px;
	width:300px;
	height:auto;
	float:left;
}
section aside .list_nav,
section aside .list
{
	text-indent:20px;
	height:auto;
	color:#444D56;
	line-height:50px;
	background-color:#E8E9EB;
	border-radius:8px;
	box-shadow:4px 6px 4px rgba(0,0,0,0.4);
	margin-bottom:40px;
}
section aside .list ul li a{
	display:block;
	width:100%;
	color:#444D56;
}
section aside .list ul a:hover{
	color:#DBEDFF;
}
section aside .list ul li,
section aside .list_nav dd
{	
	border-bottom:1px dotted #C8E1FF;
}
section aside .list h3,
section aside .list_nav h3
{
	font-weight:400;
	color:#fff;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	background-color:#E34C26;
}
section aside dt:hover,
section aside dd a:hover,
section aside li:hover{
	background-color:#3F4347;
	color:#fff;	
}
section aside dd a{
	display: inline-block;
	width:300px;
	margin-left:-20px;
	font-size:85%;
}
section aside dl:last-child dd,
section aside ul li:last-child{
	border:none;
}
section aside dl:last-child dd:hover,
section aside li:last-child:hover{
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}


/* 文章article*/
section{
	height:800px;
}
section article{
	width:880px;
	height:auto;
	float:right;
}
section article .article_head_work{
	font-size:40px;
	font-weight:lighter;
	width:100%;
	border-bottom:2px solid rgba(49,199,84,0.5);
	color:rgb(49,199,84);
	padding:5px 0;
	margin-bottom:20px;
	text-shadow: 1px 1px 1px rgba(49,199,84,0.8);
}

section article .work
{
	width:100%;
	height:200px;
	border-radius:8px;
	border:1px solid #E1E4E8;
	margin-bottom:30px;
	box-shadow:5px 5px 5px rgba(0,0,0,0.2);
	background-color:#F7F9FB;
	color:#6A737D;
}
section article .work{
	height:auto;
}
section article .work h3{
	margin-left:30px;
}
section article .work li{
	margin-left:50px;
	padding-left:10px;
}
section article .work li a{
	color:#333;
	font-size:24px;
	display:block;
	height:30px;
	line-height:30px;
	margin:10px 5px;
	border-bottom:1px dotted;
}


/*footer*/
footer{
	width:100%;
	height:auto;
	background-color:#24292E;  
	color:#fff; 
}
footer div{
	padding:25px 0;
	width:1200px;
	margin:0 auto;
	height:100px;
	line-height:100px;
}
footer nav{
	float:left;
	width:161px;
	height:30px;
	margin:5px;
	font-size:24px;
	text-align:center;
	line-height: 30px;
}
footer nav a{
	color: rgb(200, 201, 202)
}
footer nav a:hover{
	color:#fff;
}

/*blog_article*/ 
pre{
	margin:20px 0;
	padding-top:20px;
	font-family:"microsoft yahei";
	border:1px solid #6A737D;
	border-radius:8px;
	width:auto;
	background-color:#FDF5E6;
	border-right:none;
	border-left:none;
}
.blog_article{
	width:880px;
	height:auto;
	float:right;
	border-radius:8px;
	border:1px solid #E1E4E8;
	margin-bottom:30px;
	box-shadow:5px 5px 5px rgba(0,0,0,0.2);
	background-color:#F7F9FB;
	color:#000;	

}
.blog_article h1{
	width:100%;
	font-size:30px;
	margin:20px auto;
	font-weight:lighter;
	text-align:center;
}
.blog_article p{
	text-indent:2em;
	margin:5px 0;
	padding:2px 0;
}