/*重置*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{
	margin:0;
	padding:0;
}
body{
	font-size:12px;
}
img{
	border:none;
}
li{
	list-style-type:none;
}
input,select,textarea{
	outline:none;border:none;background-color:none;
}
textarea{
	resize:none;
}
a{
	text-decoration:none;color:#666;
}


/*浮动*/
.clearfix:before,
.clearfix:after{
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}
.clearfix:after{clear:both;}
.clearfix{
	zoom:1;  /*ie特有的属性，触发haslayout属性，清除浮动和margin重叠*/
}
.fl{float:left;}
.fr{float:right;}

