/*初始化*/
*{
	padding:0;
	margin:0;
	border:none;
}
body{
	overflow:hidden;
}

/*草地，天空颜色渐变*/
div.blueSky{
	position:relative;
	width:100%;
	height:60vh;
	background:-webkit-linear-gradient(rgb(196,228,253),#fff);
	background:-moz-linear-gradient(rgb(196,228,253),#fff);
	background:-o-linear-gradient(rgb(196,228,253),#fff);
	background:linear-gradient(rgb(196,228,253),#fff);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#c4e4fd",endColorstr="#ffffff",GradientType=0);
}
div.greenGrass{
	width:100%;
	height:40vh;
	background:-webkit-linear-gradient(#fff,rgb(148,190,89));
	background:-moz-linear-gradient(#fff,rgb(148,190,89));
	background:-o-linear-gradient(#fff,rgb(148,190,89));
	background:linear-gradient(#fff,rgb(148,190,89));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#94be59",GradientType=0);
}

/*小兔子定位*/
div.greenGrass img{
	position:fixed;
	width:200px;
	height:200px;
    right:200px;
    bottom:40px;
}

/*五多云形状构造*/
div.cloud{
	position:relative;
	width:100px;
	height:100px;
	background-color:#fff;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
   
}
div.cloud::before{
	position:absolute;
	content:"";
	width:160px;
	height:41px;
	background-color:#fff;
	-webkit-border-radius:63px;
	-moz-border-radius:63px;
	-ms-border-radius:63px;
	-o-border-radius:63px;
	border-radius:63px;
	top:53px;
	left:-47px;
   
}
div.cloud::after{
	position:absolute;
	content:"";
	width:73px;
	height:50px;
	background-color:#fff;
	-webkit-border-radius:40px;
	-moz-border-radius:40px;
	-ms-border-radius:40px;
	-o-border-radius:40px;
	border-radius:40px;
	top:43px;
	left:-37px;
	-webkit-transform:rotate(40deg);
	-moz-transform:rotate(40deg);
	-ms-transform:rotate(40deg);
	-o-transform:rotate(40deg);
	transform:rotate(40deg);
   
}

/*云的初始位置以及透明度以及动画效果*/
div.size1{
	position:absolute;
    top:10vh;
    left:0px;
    opacity:1;
    -webkit-animation:moveClouds 10s linear infinite;
            animation:moveClouds 10s linear infinite;
}
div.size2{
	position:absolute;
    top:0vh;
    left:0px;
    -webkit-transform:scale(0.75);
    -moz-transform:scale(0.75);
    -ms-transform:scale(0.75);
    -o-transform:scale(0.75);
    transform:scale(0.75);
    opacity:0.8;
    -webkit-animation:moveClouds 13s linear infinite;
            animation:moveClouds 13s linear infinite;
}
div.size3{
	position:absolute;
    top:0vh;
    left:200px;
    -webkit-transform:scale(0.75);
    -moz-transform:scale(0.75);
    -ms-transform:scale(0.75);
    -o-transform:scale(0.75);
    transform:scale(0.75);
    opacity:0.75;
    -webkit-animation:moveClouds 15s linear  infinite;
            animation:moveClouds 15s linear infinite;
}
div.size4{
	position:absolute;
    top:30vh;
    left:0px;
    -webkit-transform:scale(0.75);
    -moz-transform:scale(0.75);
    -ms-transform:scale(0.75);
    -o-transform:scale(0.75);
    transform:scale(0.75);
    opacity:0.75;
    -webkit-animation:moveClouds 14s linear infinite;
            animation:moveClouds 14s linear infinite;
}
div.size5{
	position:absolute;
    top:20vh;
    left:0px;
    -webkit-transform:scale(0.5);
    -moz-transform:scale(0.5);
    -ms-transform:scale(0.5);
    -o-transform:scale(0.5);
    transform:scale(0.5);
    opacity:0.6;
    -webkit-animation:moveClouds 25s linear infinite;
            animation:moveClouds 25s linear infinite;
}
@-webkit-keyframes moveClouds{
	from{
		margin-left:100%;
	}
	to{
		margin-left:-100%;
	}
}
@keyframes moveClouds{
	from{
		margin-left:100%;
	}
	to{
		margin-left:-100%;
	}
}

