/*初始化*/
*{
	padding:0;
	margin:0;
	border:none;
}
a{
	text-decoration:none;
}

/*main部分*/
.main{
	width:1200px;
	height:530px;
	margin:30px auto;
	font-family:"微软雅黑";
}

/*nav导航条部分*/
.main .title{
	width:1200px;
	height:70px;
	line-height:70px;
	text-align:center;
	border:1px solid #ccc;
	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
	    -ms-border-radius:5px;
	     -o-border-radius:5px;
	        border-radius:5px;
}
.main nav a{
	display:block;
	float:left;
	width:300px;
	height:100%;
	color:#666;
	font-size:24px;
}

/*banner部分*/
.banner{
	overflow:hidden;
	width:1202px;
	height:460px;
}
.banner img{
	width:100%;
	height:100%;
	float:left;
}
.active{
	background:#fc0;
	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
	    -ms-border-radius:5px;
	     -o-border-radius:5px;
	        border-radius:5px;
}
